html,
body,
#viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', san-serif;
}

/*Title Div Styling*/

.titleDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.titleText {
    font-weight: 900;
    font-size: 30px;
    color: rgb(36,36,36);
    text-shadow: 3px 3px #dbdbdb;
}

.infoButton {
  padding: 4px;
  border-radius: 50%;
  background-color: rgb(78, 78, 78);;
  text-align: center;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
}

.fa-question-circle {
    color: #f1f1f1;
    font-size: 20px;
}

.infoButton:hover {
    background-color: #c75458;
}

.infoButton-clicked {
    background-color: #c75458;
}

/*Warning Text Div Styling*/

#warnDiv {
    width: 600px;
    height: 150px;
    border-radius: 3px;
    background-color: rgba(199, 84, 88, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    pointer-events: none; 
}

.warnText {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.warnSubText {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    /* If you want the animation keeps going */
    animation-iteration-count: infinite;
}


/*Info Div Styling*/

#infoDiv {
    width: 75%;
    /* min-height: 520px; */
    max-width: 650px;
    height: 70%;
    max-height: 600px;
    background-color: rgba(78, 78, 78);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    z-index: 5;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.infoTitle {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.closeInfo {
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 6;
    color: #404040 !important;
}

.fa-xmark {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.fa-xmark:hover {
    color: #c75458;
}

.whiteSpace {
    /*display: flex;*/
    margin-top: 25px;
    height: 90%;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    padding: 10px;
}

.textSpace {
    overflow-y: auto;
    height: 100%;
    padding-right: 10px;
}

.infoSectionText {
    font-size: 17px;
    font-weight: 600;
    color: #4e4e4e;
    padding-bottom: 5px;
    padding-top: 5px;
}

.infoBodyTitle {
    font-size: 14px;
    font-weight: 600;
    color: #4e4e4e;
    padding-bottom: 7px;
}

.infoBodyText {
    font-size: 13px;
    font-weight: 400;
    color: #4e4e4e;
}

.infoBodyTextBold {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
}

.infoTable td {
    padding: 8px;
}

.popupImg {
    width: 250px;
}

/*Menu Div Styling*/

#optionsDiv {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: rgb(78, 78, 78);
    color: white;
    padding: 10px 20px 20px 20px;
    /*min-height: 600px;*/
    max-height: calc(100% - 100px);
    overflow-y: auto;
    height: auto;
    width: 325px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section {
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    padding: 10px;
}

.filterDiv {
    padding-top: 0px;
    padding-bottom: 0px;
}

.switchDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.switchSubDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.lineDiv {
    display: flex;
    align-items: flex-end;
    height: 21px;
    padding-top: 10px;
}

.labelNum{
    font-size: 18px;
    font-weight: 600;
}

.line {
    display: flex;
    flex-grow: 1;
    height: 2px;
    margin-left: 5px;
    margin-bottom: 8px;
    background-color: #4e4e4e;
    border-radius: 10px;
}

.layerDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.labelText {
    font-size: 17px;
    font-weight: 600;
    color: #4e4e4e;
}

.labelSubText {
    font-size: 13px;
    font-weight: 400;
    color: #4e4e4e;
}

#puidSelect {
    width: 100%;
    height: 30px;
    /*font-size: 12px;*/
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    padding-left: 6px;
}

#lpcFilter {
    width: 100%;
    padding:15px 0;
}

#boroughFilter {
    width: 100%;
    height: 40px;
    border-radius: 3px;
}

/*Warning Table Styling*/

#warningDiv {
    display: none;
}

.warningTable {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
}

.warningTable tr {
    background-image: repeating-linear-gradient( 45deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px );
    background-repeat: repeat;
    /*display:table-caption;*/
}

/*CCD Table Styling*/

.ccdTable {
    width: 100%;
    text-align: center;
    /*border: 2px solid #c75458;
    background-color: rgba(199, 84, 88, 0.02);*/
    border-radius: 3px;
    color: #c75458;
    font-weight: 800;
    font-size: 17px;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
}

.ccdTable tr { 
    line-height: 24px; 
}

/*Selectize Styling*/

.selectize-input {
    z-index: 0 !important;
    padding: 5px 8px;
}

.selectize-control.multi .selectize-input.has-items {
    padding: calc( 5px - 2px - 0px ) 6px calc( 5px - 2px - 3px - 0px ) !important;
}

/*Project Dropdown Styling*/

#projFilterHolder {
    padding-left: 5px;
    padding-bottom: 5px;
}

.projDropDown {
    width: 100%;
    margin-top: 3px;
    height: 25px;
    font-family: 'Poppins', san-serif;
    font-size: 12px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
}

#projFilterHolder {
    display: none;
}

.projFiltText {
    font-size: 12px;
    font-weight: 400;
    color: #4e4e4e;
}

/*Hamburger Menu Styling*/

#menu {
    width: 26px;
    height: 26px;
    padding: 4px 4px 4px 4px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background-color: rgb(78, 78, 78);
    border-radius: 4px;
    cursor: pointer;
    line-height: 31px;
    text-align: center;
    display: inline-block;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: none;
}

#menu:hover {
    cursor: pointer;
}

#toggle {
    display: none;
  }
  
.toggle {
    margin-top: 3px;
    margin-left: -1px;    
}

.toggle > span{
    display: block;
    width: 22px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #d6d6d6;
    border-radius: 4px;
    transform-origin: center;  
    transition: transform .5s;
}

input#toggle:checked ~ .toggle > span{
    transform: translateY(8px) rotate(-45deg);
}

input#toggle:checked ~ .toggle > span:nth-child(2){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

input#toggle:checked ~ .toggle > span:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
}

.toggle:hover {
    cursor: pointer;
}

.toggle:hover span{
    background: #c75458;
    cursor: pointer;
}

.toggle {
    display: inline-block;
}

/*Legend Div Styling*/

.legendTitle {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin: 5px;
}

#legendDiv {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(78, 78, 78);
    height: auto;
    width: 250px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: block;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
    overflow: hidden;
    padding: 5px;
}

#legendContainer {
    top: 40px;
    margin: 5px;
    padding: 9px;
    background-color: #fff;
    border-radius: 3px;
    color: rgb(78, 78, 78);
}

.legendItemHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.legendItemCC {
    height: 17px;
    width: 42px;
    background-color: transparent;
    border: 4px solid #000;
}

.legendItemPUID {
    height: 21px;
    width: 46px;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMy4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA4IDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDggODsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6I0ZGRkZGRjt9DQoJLnN0MXtzdHJva2U6IzAwMDAwMDtzdHJva2Utd2lkdGg6MC41O30NCjwvc3R5bGU+DQo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iOCIgaGVpZ2h0PSI4Ii8+DQo8cGF0aCBjbGFzcz0ic3QxIiBkPSJNMCwwbDgsOEwwLDB6IE04LDBMMCw4TDgsMHoiLz4NCjwvc3ZnPg0K");
    background-repeat: repeat;
    background-size: 8px;
    border: 2px solid #000;
}

.legendItemLPC {
    height: 21px;
    width: 46px;
    background-color: rgba(37, 227, 245, 0.5);
    border: 2px solid rgba(0, 156, 171, 0.7);
}

.legendItemFedElig {
    height: 19px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgba(6, 100, 158, 1);
}

.legendItemFedList {
    height: 19px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid rgba(209, 68, 2, 1);
}

.legendItemERGIS {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgba(193, 39, 45, 1);
    margin-left: 20px;
    border: 1px solid #ccc;
}

.legendItemIL {
    height: 21px;
    width: 46px;
    background-color: rgba(240,148,215, 0.4);
    border: 2px solid rgba(138, 45, 113, 0.5);
}

.legendItemINT {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgba(110,135,227, 1);
    margin-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.legendItemHD {
    height: 21px;
    width: 46px;
    background-color: rgba(252,223,104, 0.4);
    border: 2px solid rgba(99, 88, 41, 0.5);
}

.legendItemSCE {
    height: 21px;
    width: 46px;
    background-color: rgba(149,185,131, 0.4);
    border: 2px solid rgba(50, 92, 28, 0.5);
}

.legendItemNRHP {
    height: 21px;
    width: 46px;
    background-color: rgba(115, 71, 1, 0.3);
    border: 2px solid rgba(15, 71, 1, 0.5);
}

.legendItemProj {
    height: 21px;
    width: 46px;
    background-color: rgba(217, 20, 20, 0.1);
    border: 2px solid rgba(69, 0, 0, 1);
}

.legendItemProjBuff {
    height: 21px;
    width: 46px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px dashed rgba(0, 0, 0, 0.8);
}

#ccdVis {
    display: flex;
}

#puidVis, #lpcVis, #fedVisElig, #fedVisList, #ergisVis, #nrhpVis, #ilVis, #intVis, #hdVis, #sceVis, #projVis, #projBuffVis {
    display: none;
}

.legendText {
    font-size: 12px;
}

/*Button Styling*/

.button {
    background-color: #d6d6d6;
    color: black;
    border: 0px solid #e7e7e7;
    border-radius: 4px;
    padding: 5.5px 9px;
    text-align: center;
    font-family: 'Poppins', san-serif;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 0px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #c75458;
    border-color: #e28689;
}

/**Switch Styling**/

.switch {
    position: relative;
    display: inline-block;
    width: 33.75px;
    height: 19.125px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d6d6d6;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14.62px;
    width: 14.62px;
    left: 2.25px;
    bottom: 2.25px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #c75458;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #c75458;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(14.62px);
    -ms-transform: translateX(14.62px);
    transform: translateX(14.62px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/**Search Styling**/

#addSearch {
    width: 80.5%;
}

#searchHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.esri-search {
    background-color: transparent !important;
}

.esri-search__input {
    background-color: white;
    border-radius: 4px;
    color: #7e7e7e;
    border: 1px solid #d0d0d0;
}

.esri-input[type=text] {
    height: 30px;
}

.esri-input.esri-search__input::placeholder{
    color:#7e7e7e;
}‍‍‍

.esri-menu {
    bottom: 40px !important;
    /*left: 310px !important;*/
    top: unset !important;
    border: 2px solid #4e4e4e;
    border-radius: 3px;
    z-index: 3 !important;
}

.esri-popup__main-container {
    border-radius: 4px;
}

.esri-widget--button {
    background-color: #d6d6d6;
    border-radius: 4px;
    color: #333333;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.esri-widget--button:hover {
    color: #4e4e4e;
}

.esri-widget--button:hover {
    background-color: #c75458;
}

/**Loader GIF Code**/

/*#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }*/
  
#loadingFedElig {
    height: 18px;
    width: 18px;
    display: none;
}

#loadingFedList {
    height: 18px;
    width: 18px;
    display: none;
}

#loadingLpc {
    height: 18px;
    width: 18px;
    display: none;
}

/**Scrollbar Styling**/

::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #696969;
  }